.container-content {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFAF4;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }
  
  .content {
    text-align: center;
    max-width: 10000px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: ;
  }
  
  .content p {
    margin-bottom: 20px;
  }
  
  .content img {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
  }
/* input,
textarea {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: 0;
  cursor: text;
}
textarea {
  resize: none;
} */

.mb-3 {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  textarea.form-control {
    resize: vertical;
  }

  .btn-save {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #ed66c7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Ensures the link looks like a button */
    align-self: flex-start; /* Ensures button doesn't stretch */
    margin-top: 20px; /* Adds some space between textarea and button */
  }
  
  .btn-save:hover {
    background-color: #ef93f2;
  }
